# Configuration file

##########################################################################################################
# stats
#--------------------------------------------------------------------------------------------------------#
# This category are markers for some statistics taken by iChunUtil. You can opt out from this in one of the config properties.
##########################################################################################################

stats {
    # Don't change this.
    S:statsData=uc`Uz n4s75a=fFAg19`

    # Don't change this.
    S:statsIdentifier=Y8QTSewpB>6+pZGJo;e3

    # Opt out of iChunUtil's stat collection
    # No personal info is taken from you.
    # But if you want to opt out, this is the config to change.
    # 
    # Min: 0
    # Max: 1
    I:statsOptOut=0
}


