Version 1.7
# Biome types to use this theme in
# Valid types are =  FOREST, PLAINS, MOUNTAIN, HILLS, SWAMP, WATER, DESERT, FROZEN, JUNGLE, WASTELAND, NETHER, END, MUSHROOM, and MAGICAL
# (BEACH is consider the same as WATER here.)
#
# Biomes types where it should be used
biomes =  NETHER

# This determines the type of dungeon this should be, for the purpose of adding mobs through the API;
# Its basically like a biome dictionary for dungeons.  Valid values includ DUNGEON, NECRO, URBAN, FOREST,
# PLAINS, MOUNTAIN, SWAMP, WATER, DESERT, WASTELAND, JUNGLE, FROZEN, FIERY, NETHER, END, MUSHROOM, MAGICAL,
# SHADOW, and PARADISE.  Most should have one or two types, not more than 3 or (very rarely) 4; API user
# should be more liberal with there assigning mosters to types, not the other way around.
Type =  NETHER, NECRO, FIERY, SHADOW

#
# Altitude ranges
#
# Lowest level a floor can be at
minY =  32
# Highest level a floor can be at
maxY =  48

# Should a foundation of pedestal be built between rooms and the ground; mostly 
# for surface dungeons (including Nether dungeons).
buildFoundation = true

#
# Size ranges =  This should contain 5 numbers, at least one of which must not be 0.
# These are relative probabilities for a tiny, small, medium, large, and huge dungeon (in that order)
sizes =  0, 1, 0, 0, 0

#
# Style elements =  These must each contain 6 numbers
# in order they must be for none, few, some, plenty, heaps, and always (not literally)
# They are relative probabilites, as before
#
# Roofless, wall-less rooms; mostly for surface dungeons
outside =  15,  25,  20,  10,  5,  0
# Amount of liquid blocks (pools) on the floor
liquids =  1,  30, 50, 20, 10,  0
# Number of extra doors which may lead to rooms off the main route
subrooms =  5, 20, 50, 45,  5,  0
# Frequency of trying to place a mini-room inside a larger room
islands =  5,  50, 10, 50, 20,  0
# How many pillars to use
pillars =  5,  30, 60, 40, 20,  0
# Not used, but will be the number of fences around outdoor rooms
fences =  5,  15, 30, 75, 25,  0
# How generally semetric and organized roosm appear
symmetry =  5,  15, 30, 75, 25,  0
# How much variability in the blocks to be used
variability =  5,  10, 25, 75, 50, 25
# Idea borrowed from Greymerk's Roguelike dungeons; chance of not building over airblocks
degeneracy =  50,  0, 0, 0, 0,  0
# How many feature to add to rooms
complexity =  5,  10, 25, 75, 15,  0
# How much variation in the Y should be found
verticle =  5,  10, 25, 20, 10,  0
# How many entrances to place
entrances =  10, 0, 0, 0, 0, 0

#
# Block elements
# Thes are just lists of blocks to uses in building rooms
# Warning =   Versions for version fo Minecraft before 1.7 are not compatible with 1.7+
# For 1.5.2 or 1.6.4 these must be block ids
# for version 1.7+ these are the proper, in-code names for the blocks
# Each of these must contain at least one block, but can contain as many as you like
#
# The main block for building walls
walls =  minecraft:nether_brick, TConstruct:decoration.multibrick(2), TConstruct:decoration.multibrickfancy(2), chisel:nether_brick(2), chisel:nether_brick(3), chisel:nether_brick(4), chisel:nether_brick(5), chisel:nether_brick(10), chisel:nether_brick(11), chisel:nether_brick(12), chisel:nether_brick(13), chisel:nether_brick(14), chisel:nether_brick(15), magmaox:RedNetherBrick, minecraft:netherrack, Botania:customBrick, Botania:customBrick(1), Ztones:tile.lairBlock(3)
# The main block for building floors
floors =  minecraft:nether_brick, TConstruct:decoration.multibrick(2), TConstruct:decoration.multibrickfancy(2), chisel:nether_brick(2), chisel:nether_brick(3), chisel:nether_brick(4), chisel:nether_brick(5), chisel:nether_brick(10), chisel:nether_brick(11), chisel:nether_brick(12), chisel:nether_brick(13), chisel:nether_brick(14), chisel:nether_brick(15), magmaox:RedNetherBrick, TConstruct:CraftedSoil(6), minecraft:soul_sand, minecraft:netherrack, Botania:customBrick, Botania:customBrick(1), BiomesOPlenty:ash, BiomesOPlenty:flesh, Ztones:tile.lairBlock(3)
# The main block for lining ceilings
ceilings =  minecraft:nether_brick, TConstruct:decoration.multibrick(2), TConstruct:decoration.multibrickfancy(2), chisel:nether_brick(2), chisel:nether_brick(3), chisel:nether_brick(4), chisel:nether_brick(5), chisel:nether_brick(10), chisel:nether_brick(11), chisel:nether_brick(12), chisel:nether_brick(13), chisel:nether_brick(14), chisel:nether_brick(15), magmaox:RedNetherBrick, minecraft:netherrack, Botania:customBrick, Botania:customBrick(1), Ztones:tile.lairBlock(3)
# Blocks to be used as outdoor fences (not yet used)
fencing =  minecraft:nether_brick_fence
# Block to represent liquids; fill pools
liquid =  minecraft:lava, BiomesOPlenty:hell_blood, minecraft:lava, ThermalFoundation:FluidPyrotheum, minecraft:lava
# Block from which to build pillars
pillarBlock =  minecraft:nether_brick, minecraft:obsidian, chisel:lavastone(7), magmaox:NetherWartBlock, dungeonmobs:LavaRock, minecraft:glowstone, BiomesOPlenty:bones(2), BiomesOPlenty:bones(1), BiomesOPlenty:bones, ExtraUtilities:decorativeBlock1(2), GardenStuff:heavy_chain(4), MineFactoryReloaded:brick(12), Ztones:tile.zkulBlock(11), Ztones:tile.zkulBlock

#
# Mob fields
#
# These are lists of mobs, and most be in their officialm, in code names
#
# Weak, basic mobs; by default
# Blazes would be at a higher level in the over world, but at two levels here
commonMobs =  Zombie, LavaSlime, Skeleton, PigZombie
# Tougher mobs everyday mobs (note =  Minecraft automatically changes most skeletons into wither skeltons
hardMobs =  Blaze, LavaMonsters.LavaMonster, NightmareCreatures.Mulrog, cofh.Basalz, ProjectZulu|Core.Haunted Armor
# Really tough mobs, Minefantasy brutes, mid-level Dungeons Mobs, and many of Lycanite's mobs go here
bruteMobs =  Automagy.WispNether, Thaumcraft.Firebat, NightmareCreatures.Drider, NightmareCreatures.Shalrog, Blaze
# The baddest of the bad, Minefantasy dragon, Dungeon Mobs rakshasa.
eliteMobs =  dungeonmobs.DMBeholder, dungeonmobs.DMHellHound, dungeonmobs.DMUmberHulk, NightmareCreatures.Lesser Balrog
#True bosses like Wither
bossMobs  = WitherBoss
